.bg_user_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.unorder_list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  background-color: aqua;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px black;
}
.input_ {
  height: 30px;
  width: 30%;
  border-radius: 5px;
}
